In [1]:
import pandas as pd

In [2]:
# Inventory DataFrame
data = {
    "Location1": [100, 50, 300, 200, 80],
    "Location2": [200, 60, 400, 250, 90],
    "Location3": [150, 40, 350, 220, 70],
    "Location4": [300, 80, 500, 270, 100]
}
inventory = pd.DataFrame(data, index=["Product1", "Product2", "Product3", "Product4", "Product5"])

In [26]:
#1. Display the first two rows of the inventory DataFrame.
inventory.head(2)

          Location1  Location2  Location3  Location4
Product1        100        200        150        300
Product2         50         60         40         80

In [25]:
#2. Get the total number of rows and columns in the DataFrame.
inventory.shape

(5, 4)

In [5]:
data
inventory

          Location1  Location2  Location3  Location4
Product1        100        200        150        300
Product2         50         60         40         80
Product3        300        400        350        500
Product4        200        250        220        270
Product5         80         90         70        100

In [24]:
#3. List the column names and row indices.
inventory.columns.tolist()

['Location1', 'Location2', 'Location3', 'Location4']

In [7]:
inventory.index.tolist()

['Product1', 'Product2', 'Product3', 'Product4', 'Product5']

In [23]:
#4. Display the data type of each column in the DataFrame.
inventory.dtypes

Location1    int64
Location2    int64
Location3    int64
Location4    int64
dtype: object

In [22]:
#5. Check if there are any missing values in the DataFrame.
inventory.isnull().sum()

Location1    0
Location2    0
Location3    0
Location4    0
dtype: int64

In [21]:
#6. Retrieve the stock levels for "Product3" across all locations.
a = inventory.loc["Product3"]
print(a)

Location1    300
Location2    400
Location3    350
Location4    500
Name: Product3, dtype: int64

In [20]:
#7. Extract the stock levels for "Location2" across all products.
a = inventory.iloc[:, 1]
print(a)

Product1    200
Product2     60
Product3    400
Product4    250
Product5     90
Name: Location2, dtype: int64

In [19]:
#8. Retrieve the stock levels of "Product 1" and "Product4" for "Location1" and "Location3".
a = inventory.iloc[[0,3],[0,2]]
print(a)

          Location1  Location3
Product1        100        150
Product4        200        220

In [18]:
#9 Slice the DataFrame to get the first 3 products and the first 2 locations.
a = inventory.iloc[0:3,0:4]
print(a)

          Location1  Location2  Location3  Location4
Product1        100        200        150        300
Product2         50         60         40         80
Product3        300        400        350        500